---
layout: default
permalink: blog/
title: Blog
---

<ul class="menu">
	{% for post in site.posts %}
	<li>
		<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
		<br>
		<small class="metadata">
			<time datetime="{{ post.date | date: '%F' }}" date-style="medium">{{ post.date | date_to_string }}</time>
		</small>
	</li>
	{% endfor %}
</ul>
<hr>
<ul class="menu">
	<li>
		<a href="{{ '/blog/feed.xml' | absolute_url }}">
			{% include icons/rss.svg %}
			<span>Subscribe</span>
		</a>
	</li>
</ul>
