$background-color:      #ffffff, #121212;
$background-color-alt:  #f9f9f9, #181818;
$border-color:          #cdcdcd, #333333;
$text-color:            #1b1b1b, #b0b0b0;
$text-color-alt:        #6b6b6b, #797979;
$link-color:            $text-color;
$link-color-alt:        $text-color-alt;

$inset-size: 1rem;

@mixin themed($declarations...) {
	@each $property, $values in keywords($declarations) {
		#{$property}: nth($values, 1);
	}

	@media (prefers-color-scheme: dark) {
		@each $property, $values in keywords($declarations) {
			#{$property}: nth($values, 2);
		}
	}
}

@mixin full-width {
	margin: {
		left: -$inset-size;
		right: -$inset-size;
	}
}

a {
	@include themed(
		$color: $link-color,
	);

	&:visited {
		@include themed(
			$color: $link-color-alt,
		);
	}
}

body {
	box-sizing: border-box;
	width: 36rem;
	max-width: 100%;
	padding: 0 $inset-size;
	margin: 0 auto {
		bottom: 2rem;
	};
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.5;
	tab-size: 4;
	@include themed(
		$background: $background-color,
		$color: $text-color,
	);
}

blockquote {
	$dash-size: 3px;
	padding-left: calc(#{$inset-size} - #{$dash-size});
	border-left: $dash-size solid;
	@include full-width;
	@include themed(
		$color: $text-color-alt,
		$border-left-color: $border-color,
	);
}

code,
pre {
	font-family: SFMono-Regular, 'SF Mono', 'Ubuntu Mono', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 0.9rem;
}

figure {
	margin: 1rem 0;

	figcaption {
		margin-top: -0.5rem;
		font-size: small;
		@include themed(
			$color: $text-color-alt,
		);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0;
	line-height: initial;
}

hr {
	height: 1px;
	border: 0;
	@include themed(
		$background: $border-color,
	);
}

img,
video {
	max-width: calc(100% + 2 * #{$inset-size});
	@include full-width;
}

pre {
	padding: 1rem;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	@include full-width;
	@include themed(
		$background: $background-color-alt,
	);
}

ol,
ul {
	padding-left: 1.25rem;
}

table {
	border-collapse: collapse;

	td,
	th {
		padding: 0.25em 0.5em;
		border: 1px solid;
		@include themed(
			$border-color: $border-color,
		);
	}

	th {
		@include themed(
			$background: $background-color-alt,
		);
	}
}

#site-header {
	border-bottom: 1px solid;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	@include themed(
		$border-bottom-color: $border-color,
	);

	a {
		text-decoration: none;
		color: inherit;
	}

	h1 {
		font-size: 1rem;
	}

	nav {
		@include themed(
			$color: $text-color-alt,
		);

		a {
			margin-left: 1em;
		}
	}
}

.active {
	text-decoration: underline !important;
}

.menu {
	list-style-type: none;
	padding-left: 0;

	li {
		margin: 1em 0;
	}

	a {
		color: inherit;
		font-weight: bold;
		text-decoration: none;
	}

	p {
		margin: 0;
	}

	svg {
		height: 1em;
		margin-right: 0.2em;
		position: relative;
		top: 0.125em;
		fill: currentColor;
	}
}

.metadata {
	margin-top: -0.5rem;
	white-space: nowrap;
	@include themed(
		$color: $text-color-alt,
	);
}
