.modern {
	font: {
		size: 0.85em;
		family: $font-modern;
	}
	text-transform: uppercase;
	color: #555;
}

.lowercase {
	text-transform: lowercase !important;
}

.content {
	* {
		max-width: 100%;
	}
}

.menu {
	padding-left: 0;
	list-style-type: none;
	margin: 0.5em 0;

	li {
		line-height: 1.2em;
		margin: 0.3em 0;
	}

	a {
		text-decoration: none;
		font-weight: bold;
	}

	.details {
		@extend .modern;
		font-size: 0.7rem;
		color: #aaa;
		white-space: nowrap;
		display: block;
		line-height: 1.5em;

		&.inline {
			display: inline;
		}
	}
}

.post-list {
	@extend .menu;
	font-size: 1.2em;

	li {
		line-height: 1.3em;
		margin: 0.8em 0;
	}
}
