html {
	font: {
		family: $font-main;
		size: $font-size;
	}
	letter-spacing: 0.1px;
	line-height: 1.5em;
}

body {
	width: $body-width;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.3rem 0;
	line-height: 1.2em;

	+ h1, + h2, + h3, + h4, + h5, + h6 {
		margin-top: 0;
	}

	+ p,
	+ aside + p {
		margin-top: 0.3em;
	}
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }
h4 { font-size: 0.8em; }
h5 { font-size: 0.6em; }
h6 { font-size: 0.5em; }

h4, h5, h6 {
	text-transform: uppercase;
}

a {
	color: inherit;
}

mark {
	background: #feffc5;
}

ul,
ol {
	padding-left: 0;
}

table {
	border-collapse: collapse;
}

td,
th {
	padding: 0.25em 0.5em;
	border: 1px solid #ccc;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background: #f7f7f7;
}

%code {
	font: {
		size: 0.8rem;
		family: $font-code;
	}
	color: black;
	line-height: 1.3em;
	word-wrap: normal;
	tab-size: 4;
}

pre {
	@extend %code;
	background: #f5f5f5;
	padding: 1rem;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

pre code {
	@extend %code;
}

:not(pre) > code,
:not(pre) > samp,
:not(pre) > kbd {
	@extend %code;
	background: #f3f3f3;
	padding: 0.2em;
}

input,
textarea,
button,
select {
	font: {
		family: inherit;
		size: inherit;
	}
}

.button,
input[type=submit],
input[type=button] {
	-webkit-appearance: button;
	text-decoration: none;
}

blockquote {
	color: #888;
	margin-left: 0;
	margin-right: 0;
	padding-left: 1em;
	position: relative;
	margin-left: -1em;
}

blockquote:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0.3em;
	height: 100%;
	background-color: #ccc;
}

aside {
	line-height: 1.3em;
	width: 8em;
	text-align: right;
}

aside {
	color: #aaa;
	margin: 0 {
		left: -9em;
	}
	font-style: italic;
	position: absolute;

	+ * {
		position: relative;
	}
}

figure {
	margin: 1em 0;

	figcaption {
		color: #888;
		font-size: 0.85em;
	}
}

@media (max-width: $body-width + 30px) {
	ul,
	ol {
		padding-left: 30px;
	}
}

@media (max-width: $body-width) {
	pre {
		margin: 0 -1rem;
	}
}

@media (max-width: $body-width + (20 * $font-size)) {
	aside {
		width: initial;
		text-align: initial;
		margin: 1em 0;
		position: initial;
	}
}
