main,
article,
section,
#site-nav,
#site-footer {
	margin: 2em 0;
	word-wrap: break-word;
}

hr,
main:before,
article:before,
section:before,
#site-footer:before {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	margin: 2em auto;
	background: #eee;
	border: 0;
}

#site-nav {
	a {
		text-decoration: none;
	}

	h1 {
		font-size: 1.6em;
		margin: 0;
	}

	nav {
		@extend .modern;
		color: #aaa;
		float: right;
		margin: 0 {
			top: -1.8em;
		}

		.current {
			color: #555;
		}

		a {
			margin: 0 0.3em;

			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}
	}
}

#site-footer {
	font-size: 0.85em;

	a {
		text-decoration: none;
		font-weight: bold;
	}
}

#content-header {
	margin: 1em 0;

	a {
		text-decoration: none;
	}

	h1 {
		font-size: 2em;
	}

	.subtitle {
		font: {
			size: 1.4em;
			weight: bold
		}
		line-height: 1.2em;
		color: #555;
		margin: 0.3em 0;
	}

	.details {
		@extend .modern;
		font-size: 0.8rem;
		color: #aaa;
		display: block;
	}
}

@media (max-width: $body-width) {
	html {
		font-size: $min-font-size;
		font-size: ($font-size * 100) / $body-width + vw;
	}

	body {
		width: 100%;
	}

	hr,
	main,
	main:before,
	article,
	article:before,
	section,
	section:before,
	#site-nav,
	#site-footer {
		margin: 1.4rem auto;
	}

	#site-nav {
		text-align: center;

		nav {
			float: none;
			margin: 0.5em 0;
		}
	}
}

@media (max-width: ($body-width * $min-font-size) / $font-size) {
	html {
		font-size: $min-font-size;
	}
}
