<!DOCTYPE html>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="alternate" type="application/atom+xml" title="Blog" href="{{ '/blog/feed.xml' | absolute_url }}">
<meta name="created" content="{{ page.date | date_to_xmlschema }}">
<meta name="viewport" content="width=device-width">
<style>
	body {
		font-family: system-ui, sans-serif;
		line-height: 1.4;
		margin: 0 auto;
		max-width: 36em;
		padding: 0 8px;
	}
	a:visited {
		color: blueviolet;
	}
	img {
		max-width: 100%;
	}
	code {
		font-family: ui-monospace, monospace;
	}
	pre {
		background-color: whitesmoke;
		font-size: 0.9rem;
		overflow: auto;
		padding: 8px;
		tab-size: 4;
	}
	{% include syntax.css %}
</style>

{% if page.date %}
<nav>
	<p>
		<a href="/">{{ site.title }}</a>
	</p>
</nav>
{% endif %}

<main>
	<h1>{{ page.title }}</h1>
	<time>{{ page.date | date: '%Y-%m-%d' }}</time>
	{{ content }}
</main>
